#iconoSelectCiudad{
    margin-right: 5px;
}

.inputFormProducto{
    height: 40px;
    border: none;
    border: solid 1px #ccc;
    border-radius: 5px;
}

.opcionCiudad{
    height: 40px;
    font-size: larger;
    color: black;
}

.RSelect{
    color: black;
    background-color: red;
}

@media only screen and (max-width:415px) {

    .infoFormProducto{
        padding-top: 20px;
    }

    .nombrePropiedad, .categoriaFormProducto, .direccionFormProducto, .ciudadFormProducto, .latitudFormProducto, .longitudFormProducto{
        width: 100%;
        margin-bottom: 15px;
    }

    .tituloInputFormProducto{
        display: inherit;
    }

    .inputFormProducto{
        width: 98.5%;
    }

}

@media only screen and (min-width:415px) and (max-width:1365px){

    .infoFormProducto{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        column-gap: 2.65vw;
        row-gap: 48px;
        padding-top: 34px;
    }
    
    .nombrePropiedad{
        grid-row: 1;
        grid-column: 1;
    }
    
    .categoriaFormProducto{
        grid-row: 1;
        grid-column: 2;
    }
    
    .direccionFormProducto{
        grid-row: 2;
        grid-column: 1;
    }
    
    .ciudadFormProducto{
        grid-row: 2;
        grid-column: 2;
    }

    .latitudFormProducto{
        grid-row: 3;
        grid-column: 1;
    }

    .longitudFormProducto{
        
        grid-row: 3;
        grid-column: 2;
    }
    

    .inputFormProducto{
        width: 96.5%;
    }

}


@media only screen and (min-width:1366px) {
    .infoFormProducto{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        column-gap: 2.65vw;
        row-gap: 48px;
        padding-top: 34px;
    }
    
    .nombrePropiedad{
        grid-row: 1;
        grid-column: 1;
    }
    
    .categoriaFormProducto{
        grid-row: 1;
        grid-column: 2;
    }
    
    .direccionFormProducto{
        grid-row: 2;
        grid-column: 1;
    }
    
    .ciudadFormProducto{
        grid-row: 2;
        grid-column: 2;
    }
    
    .latitudFormProducto{
        grid-row: 3;
        grid-column: 1;
    }

    .longitudFormProducto{
        width: 99%;
        grid-row: 3;
        grid-column: 2;
    }
    



    .inputFormProducto{
        width: 100%;
    }
    

}