.ubicacionProducto__container{
    height: 7.8vh;
    background-color: #DFE4EA;
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.ubicacionProducto__izquierda__container{
    margin-left: 2rem;
    
}

.ubicacionProducto__ubicacion__container{
    display: flex;
    align-items: center;
}

.ubicacionProducto__img{
    width: .7rem;
    height: 1rem;
    margin-right: 0.5rem;
}

.ubicacionProducto__txt{
    margin: 0;
    font-weight: 700;
    font-size: 11.5pt;
}

.ubicacionProducto__distancia{
    margin: 0;
    margin-left: 1.3rem;
    font-weight: 700;
    font-size: 11.5pt;
}

@media only screen and (min-width:415px) and (max-width:1365px){
    .ubicacionProducto__container{
        height: 7vh;
    }
    
}

@media only screen and (max-width:415px){
    .ubicacionProducto__container{
        height: 10vh;
    }

    .ubicacionProducto__izquierda__container{
        margin-left: 1rem;
        width: 50%;
    }

    .ubicacionProducto__ubicacion__container{
    display: flex;
    align-items: center;
}

    .ubicacionProducto__img{
        width: .8rem;
        height: 1.1rem;
        margin-top: -2.8rem;
    }
    
    .ubicacionProducto__txt{
        font-size: 11.6pt;
        margin-top: -1.2rem;
    }

    .ubicacionProducto__distancia{
        display: none;
    }
}
